<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/4dd12a2f-0a9e-4b69-ba01-a9d26e10e611/resourcegroups/AZ-JHB-RSG-RCGPPT-ST10101952-TER/providers/Microsoft.Web/sites/WebApplication2KS20251001132404</ResourceId>
    <ResourceGroup>AZ-JHB-RSG-RCGPPT-ST10101952-TER</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication2ks20251001132404-a6abb7b7hrcmdmd9.southafricanorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d4854d87-9546-43c5-bb23-c12ee40c62de</ProjectGuid>
    <PublishUrl>https://webapplication2ks20251001132404-a6abb7b7hrcmdmd9.scm.southafricanorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>